@import "variables";

.profile-photo {
  position: absolute;
  top: 8%;
  left: 9%;
  width: 160px;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.8);
  }
}

.bloques {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-bloques;
  margin-bottom: 20px;
  padding: 6px 20px;
  border-radius: 8px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.habilidades img {
  width: 40px;
  height: auto;
  vertical-align: middle;
}

.cursivo {
  font-style: italic;
}
